


body {
    background-color: #f9f5eb;
    font-family: 'Open Sans', sans-serif;}

hr {
    border-color: #c3bcae;
    border-style: dotted none none;
    border-width: 7.5px;

    width: 7.5%;
}
h1 {
    color: #1c3879;
}
h3 {
    color: #607eaa;
}
